<!doctype html>
<a href="/">Return to beginning of story.</a>
{% macro inputCell(number) -%}
<td>
    {% if url + number in dictionary %}
    <a href="{{ url + number }}">{{ dictionary[ url + number ] }}</a>
    {% else %}
    <form action="#" method="post">
        <textarea style="resize: both" type="text" name="cellInput"></textarea>
        <input hidden="true" name="newUrl" value="{{ url + number }}"/><br>
        <input type="submit" value="Submit">
    </form>
    {% endif %}
</td>
{%- endmacro %}
<table border="1">
    <tr>
        <td></td>
        {{ inputCell("1") }}
        <td></td>
    </tr>
    <tr>
        {{ inputCell("2") }}
        <td>{{ dictionary[ url ] }}</td>
        {{ inputCell("3") }}
    </tr>
    <tr>
        <td></td>
        {{ inputCell("4") }}
        <td></td>
    </tr>
</table>
